{% load static %}
{% block content %}

    <section id="about" class="section section-about grey lighten-3 center scrollspy">
        <div class="container">
            <h2>About JDEVS</h2>
            <p class="flow-text">
                We're a Mexican software development company with the aim of providing quality tailored products
                for your projects.
            </p>
            <div class="row">
                <div class="col s12 m6">
                    <img src="{% static 'images/renee.png' %}" alt="" class="responsive-img circle">
                </div>
                <div class="col s12 m5 offset-m1">
                    <br>
                    <ul class="collection with-header z-depth-4">
                        <li class="collection-header">
                            <h5>Services</h5>
                        </li>
                        <li class="collection-item">
                            <i class="material-icons left">check</i>
                            Web App Development
                        </li>
                        <li class="collection-item">
                            <i class="material-icons left">check</i>
                            Mobile App Development
                        </li>
                        <li class="collection-item">
                            <i class="material-icons left">check</i>
                            Professional Advise
                        </li>
                        <li class="collection-item">
                            <i class="material-icons left">check</i>
                            Graphic Design
                        </li>
                        <li class="collection-item">
                            <i class="material-icons left">check</i>
                            Spanish-English Translation
                        </li>
                        <li class="collection-item">
                            <i class="material-icons left">check</i>
                            Linux System Hardening
                        </li>
                    </ul>
                </div>

            </div>
        </div>
    </section>

{% endblock %}