{% load static %}

{% block content %}

    <section id="services" class="section-boxes center scrollspy">
        <div class="row">
            <div class="col s12 m6 l3 blue white-text box">
                <i class="material-icons medium">show_chart</i>
                <h4>Grow Your Business</h4>
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Animi esse natus nesciunt numquam qui
                    quia, quos rem repellendus tenetur veritatis.
                </p>
            </div>
            <div class="col s12 m6 l3 purple white-text box">
                <i class="material-icons medium">people</i>
                <h4>Manage Your Processes</h4>
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Animi esse natus nesciunt numquam qui
                    quia, quos rem repellendus tenetur veritatis.
                </p>
            </div>
            <div class="col s12 m6 l3 teal white-text box">
                <i class="material-icons medium">verified_user</i>
                <h4>Tailored Apps to Your Needs</h4>
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Animi esse natus nesciunt numquam qui
                    quia, quos rem repellendus tenetur veritatis.
                </p>
            </div>
            <div class="col s12 m6 l3 amber darken-4 white-text box">
                <i class="material-icons medium">account_balance</i>
                <h4>Need an Advise?</h4>
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Animi esse natus nesciunt numquam qui
                    quia, quos rem repellendus tenetur veritatis.
                </p>
            </div>
        </div>
    </section>

{% endblock %}