{% load static %}
{% block content %}

    <section id="contact" class="section section-contact center scrollspy">
    <div id="googlemap"></div>
    <div class="container">
        <div class="row">
        <div class="col s12 m6 offset-m6">
            <div class="card-panel z-depth-5">
                <h4>Contact Us</h4>
                <form action="">
                    <div class="input-field">
                        <input type="text" id="name" placeholder="Name">
                        <label for="name">Name</label>
                    </div>
                    <div class="input-field">
                        <input type="email" id="email" class="validate" placeholder="Email">
                        <label for="email">Email</label>
                    </div>
                    <div class="input-field">
                        <input type="text" id="phone" placeholder="Phone Number">
                        <label for="phone">Phone</label>
                    </div>
                    <div class="input-field">
                        <textarea id="message" class="materialize-textarea"></textarea>
                        <label for="message">Message</label>
                    </div>
                    <input type="submit" value="Submit" class="btn blue-grey">
                </form>

            </div>
        </div>

        </div>
    </div>
    </section>

{% endblock %}