{% load static %}
{% block content %}

    <section id="testimonials" class="section section-testimonials blue white-text center scrollspy">
    <div class="container">
        <h2>What Our Clients Say</h2>
        <div class="row">
            <div class="col s12 m4">
                <div class="card grey lighten-3 black-text z-depth-4">
                    <div class="card-content">
                        <p><em>
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquam architecto aspernatur at
                            ea earum et, maiores quae quod tempore ullam!
                        </em></p>
                    </div>
                    <div class="card-action">
                        <p>Nikola Tesla from Tesla Inventions</p>
                    </div>
                </div>
            </div>
            <div class="col s12 m4">
                <div class="card grey lighten-3 black-text z-depth-4">
                    <div class="card-content">
                        <p><em>
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquam architecto aspernatur at
                            ea earum et, maiores quae quod tempore ullam!
                        </em></p>
                    </div>
                    <div class="card-action">
                        <p>Jane Doe from Linux.org</p>
                    </div>
                </div>
            </div>
            <div class="col s12 m4">
                <div class="card grey lighten-3 black-text z-depth-4">
                    <div class="card-content">
                        <p><em>
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquam architecto aspernatur at
                            ea earum et, maiores quae quod tempore ullam!
                        </em></p>
                    </div>
                    <div class="card-action">
                        <p>Tony Stark from Marvel</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </section>

{% endblock %}